main {
  display: block;
  height: 100%;
  width: calc(100% - 200px);
  background-color: #d3e5f2;
}

main header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: #0b07e7;
  width: 100%;
}

main header a {
  margin: 0;
  color: #d3e5f2;
  padding: 0 20px;
  font-size: 16pt;
  text-decoration: none;
}

main header svg {
  padding-right: 5px;
}

main header h2 {
  margin: 0;
  color: #d3e5f2;
  padding: 0 20px;
  font-size: 16pt;
}

main header a:hover {
  color: #d3e5f2;
  text-decoration: none;
  font-weight: bold;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 70px);
}

.formProfile {
  width: 100%;
  max-width: calc(100% - 200px);
  /* display: flex;
    flex-direction: column;*/
}
.BTNProfile {
  text-align: center;
}
