<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/all.css">
        <link rel="stylesheet"
            href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet"
            href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
        <title>Web datalogger</title>
    </head>

    <body>
        <div class="intefaceDashboard">
            <sidebar>
                <div class="menuTitle">
                    <img src="../images/pilhaLogo.png">
                    <h2>Web datalogger</h2>
                    
                </div>
                <div class="menu">
                    <div class="cadastro">
                        <p>cadastro</p>
                    </div>
                    <div class="cadastro">
                        <p>cadastro</p>
                    </div>
                    <div class="cadastro">
                        <p>cadastro</p>
                    </div>
                    <div class="cadastro">
                        <p>cadastro</p>
                    </div>
                    <div class="cadastro">
                        <p>cadastro</p>
                    </div>


                </div>
                
            </sidebar>
            <main>
                <header>
                    <p>Web datalogger</p>
                    <p>Log out</p>
                </header>
                <div class="content">
                    conteudo
                </div>
            </main>
        </div>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script
            src="../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
    </body>

</html>