<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/all.css">
        <link rel="stylesheet"
            href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet"
            href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
        <title>Web datalogger</title>
    </head>

    <body>
        <div class="intefaceDashboard">
            <sidebar>
                <div class="menuTitle">
                    <img src="../images/pilhaLogo.png">
                    <h2>Web Datalogger</h2>

                </div>
                <div class="menu">
                    <ul>
                        <li>
                            <a href="#"><i class="fas fa-book"></i>Historico</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-at"></i>Envio de Email</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-user"></i>Login do
                                usuário</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-file-download"></i>Download</a>
                        </li>
                    </ul>
                </div>
            </sidebar>
            <main>
                <header>
                    <span>Web datalogger</span>
                    <a href="#"><i class="fas fa-sign-out-alt"></i>Log out</a>
                </header>
                <div class="content">
                    conteudo
                </div>
            </main>
        </div>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script
            src="../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
    </body>

</html>